<tr id="song_<%= song.id %>">
  <td><%= song.artist %></td>
  <td><%= song.title %></td>
  <td>
    <% if song.votes.active.where(ip: request.remote_ip).count > 0 %>
    <span class="label label-info">You voted for this song!</span>
    <% elsif song.playing? %>
    <span class="label label-success">This song is playing!</span>
    <% else %>
    <%= link_to 'Vote', new_song_vote_path(song), remote: true, class: 'btn btn-mini btn-primary', id: "vote_#{song.id}" %>
    <% end %>
  </td>
</tr>
