<table class="table table-condensed">
  <tr>
    <th class="artist_column">Artist</th>
    <th>Title</th>
    <th class="length_column">Length</th>
    <th class="vote_column">Vote</th>
  </tr>

  <%= render @songs %>
</table>

<%= paginate @songs, remote: true %>