<table class="table table-condensed">
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Length</th>
    <th>Vote</th>
  </tr>

  <%= render @songs %>
</table>

<%= paginate @songs, remote: params[:query].present? %>