.progress {
  margin-bottom: 0px;
}

#cancel-search {
  display: none;
  position: absolute;
  top: 5px;
  left: 205px;

  &:hover {
    cursor: pointer;
  }
}

#song_list {
  .artist_column {
    width: 225px;
  }
  .length_column {
    width: 65px;
  }
  .vote_column {
    width: 120px;
  }
}